.header{
  background: blue;
}
.form-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
  flex-wrap: nowrap;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input, .form-group  {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
}
.submit-btn {
  width: 50%;
  padding: 10px;
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit-btn:hover {
  background-color: black;
}
.inform{
  display: flex;
  gap: 10px;
}
.modal-body
{
  margin: 25px;
  padding: 25px;
}
.lev{
  font-size: 16px;
  font-weight: bold;
}
.self{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
}
.small-input {
  width: 50px; 
  height: 30px; 
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.action-btn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.action-btn:hover {
  background-color: #45a049;
}
.delete{
  display: flex;
  gap: 250px;
}